<div class="row">
    <div class="col-md-6">
        <img src="img/Pusheen.jpg" class="img-circle img-responsive" id="about-image">
    </div>
    <div class="col-md-6" id="about">
        <h2>Hello, I am Pusheen!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut mauris in 
            dolor volutpat ultrices. Vivamus mi est, feugiat vitae fermentum eget, efficitur 
            vel mauris. Pellentesque posuere lacus ac tempor cursus. Quisque in purus urna. 
            Pellentesque volutpat blandit neque, at semper purus sollicitudin egestas. Suspendisse 
            vitae libero libero. Nullam eget tristique arcu. Maecenas semper ut felis quis gravida. 
            Sed mollis nisi ac malesuada porta. Nam mattis placerat orci, vitae tempus massa tempus a. 
            Duis sapien diam, tempor condimentum suscipit eget, rhoncus sit amet sapien. Nunc porta 
            laoreet quam in vestibulum. Sed lacinia tincidunt odio, non tincidunt odio mattis malesuada. 
            Quisque ullamcorper, libero posuere imperdiet mattis, neque ante pulvinar ex, at 
            condimentum sapien tellus maximus erat.
        </p>
        <p>
            Aliquam erat volutpat. Nunc luctus, ligula at lacinia rhoncus, dolor lacus sagittis 
            arcu, sed ultrices justo nisl nec ipsum. Nam rutrum vulputate ipsum. Morbi blandit neque
            quam, et vestibulum augue posuere non. Nulla in risus tempus, ornare est ut, venenatis 
            lorem. Cras eget commodo neque, sit amet laoreet nulla. Nunc at lacinia felis. Vestibulum 
            vulputate bibendum semper. Duis accumsan lorem vel ornare porta. Vestibulum et vestibulum 
            lorem. In hac habitasse platea dictumst. Donec venenatis sed ipsum iaculis blandit. Donec 
            rutrum neque et metus aliquet, vestibulum gravida magna commodo. Sed sollicitudin lacus 
            turpis, id varius turpis porta id.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <a href="http://twitter.com" class="btn btn-info btn-block">
            <i class="fa fa-twitter fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="http://facebook.com" class="btn btn-primary btn-block">
            <i class="fa fa-facebook fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="http://youtube.com" class="btn btn-danger btn-block">
            <i class="fa fa-youtube fa-5x"></i>
        </a>
    </div>
</div>